* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Uncial Antiqua';
    src: url('fonts/UncialAntiqua-Regular.ttf');
}

/* Shared Elements */

body{
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% of the screen height / 1vh = 1% of the total screen height (vh = viewport height)*/
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: blue;
    background-color: #1e1e1e;
    border-bottom: 1px solid #333333;
}

.clock{
    font-size: 1rem;
    opacity: 0.5;
}

.hiperlinks a{
    margin-left: 1rem;
    text-decoration: none;
    color: #bbb;
}

.hiperlinks a:hover, .hiperlinks a.active{
    color: #00ffe1;
}

.main{
    flex: 1;
    text-align: center;
    padding: 2rem 1rem;
    padding: 2rem;
}

.main h1{
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#starfield{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.3;
    animation: starshine 2s infinite ease-in-out;
}

/* First Page */

#description{
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #cccccc;
}

.pull{
    background: linear-gradient(135deg, #f1f1f1f1, #727272);
    font-family: 'Inter', sans-serif;
    color: #121212;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0 0 10px #ffffff, 0 0 15px #00000088 /*88% of opacity to the color */;
    position: relative;
    overflow: hidden;
}


.pull::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, #ffffff55 0%, transparent 80%);
    animation: shimmer 5s infinite linear;
    z-index: 0;
    pointer-events: none;
}

.pull:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #b9fff7cc, 0 0 30px #ff7070cc, inset 0 0 15px #ffffff33;
}

#cratesection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.meme{
    background-color: #1e1e1e;
    border: 2px solid #333;
    border-radius: 16px;
    padding: 1rem;
    margin: 1rem;
    max-width: 420px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.4s ease;
    vertical-align: top;
}

.meme:hover {
    transform: scale(0.9);
}

.meme img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 0 5px #00000066;
}

.meme p{
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

footer{
    background-color: #1e1e1e;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #777777;
}

/* Second Page */

#pullbuttons
{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* Animations */

@keyframes starshine {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 0.6; }
}

@keyframes shimmer {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    100% {
        transform: rotate(360deg) translateX(0);
    }
}